{%  extends 'base.html.twig' %}

{% block title %}Voucher{% endblock %}

{% block body %}
    <h1>Voucher</h1>

    {% for error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}

    <form method="POST" action="{{ path('voucher_index') }}">
        <select name="voucherPrice">
            {% for voucherPrice in voucherPrices %}
                <option value="{{ voucherPrice.id }}">
                    {{ voucherPrice.voucherType.units }} {{ 'units'|trans }} - {{ voucherPrice.amount/100 }} EUR
                </option>
            {% endfor %}
        </select>
        <label for="paymentMethod">Payment Method</label>
        {% for paymentMethod in paymentMethods %}
            <input type="radio" id="{{ paymentMethod }}" name="paymentMethod" value="{{ paymentMethod }}">
            <label for="paypal">{{ paymentMethod|trans }}</label><br>
        {% endfor %}

        <input type="hidden" name="token" value="{{ csrf_token('voucher') }}">
        <input type="submit" value="Submit">
    </form>
{% endblock %}