{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block javascripts %}
<script src="https://www.paypal.com/sdk/js?{{ parameters|raw }}"></script>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    {%  if invoice.isBookingInvoice %}
    {{'booking.invoice.description'|trans({
        '%date%' : invoice.bookings.first.businessDay.Date|date('d.m.Y'),
        '%room%' : invoice.bookings.first.room.name,
    })}}

    {% endif %}
    {% if invoice.isVoucherInvoice %}
        {{  'voucher.invoice.description'|trans({
        '%units%'          : invoice.vouchers.first.voucherType.units,
        '%validityMonths%' : invoice.vouchers.first.voucherType.getValidityMonths,
        }) }};
    {% endif %}

     {{  (invoice.amount / 100)|number_format(2, ',', '.')}} EUR

    {% for error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <div id="paypal-button-container" style="width: 300px"></div>
    <script>
        paypal.Buttons({
            createOrder: (data, actions) => {
                return actions.order.create({
                    intent: 'capture',  // authorize for capture via backend
                    purchase_units: [{
                        amount: {
                            value: {{ invoice.amount / 100 }},
                        },
                        description: '{{ invoice.number }}',
                        invoice_id: '{{ invoice.number }}',
                    }],
                    application_context: {
                        brand_name: 'Ensemble Coworking Hahnheim',
                        shipping_preference: 'NO_SHIPPING' // if you handle shipping
                    }
                });
            },
            // Finalizes the transaction after payer approval
            onApprove: (data) => {
                //@todo Spinner while processing
                fetch('{{ path('invoice_payment_paypal_capture', {'uuid': invoice.uuid}) }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        data: data
                    })
                }).then(function(response) {
                    return response.json();
                }).then(function(data) {
                    console.log(data);
                    window.location.href = data.targetUrl;
            })},
            // The user closed the window
            onCancel: () => {
                console.log('The user canceled the payment');
            },
            onError: (err) => {
                console.log('Something went wrong', err);
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}