{% extends 'base.html.twig' %}
{% trans_default_domain 'index' %}

{% block title %}{{ 'page.title'|trans }}{% endblock %}
{% block header %}{{ 'page.title'|trans }}{% endblock %}

{% block content %}
    <section class="self-center mx-auto">
        {% if app.environment != 'prod' %}
            <div id="alert-additional-content-2" class="p-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                <div class="flex items-center">
                    <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <h3 class="text-2xl font-medium">ACHTUNG!</h3>
                </div>
                <div class="mt-2 mb-4 text-xl">
                    Du bist auf einer Test-Seite. Bitte beachte, dass die Daten nicht persistent sind.
                    Solltest du aus Versehen auf dieser Seite gelandet sein, dann klicke auf den Link unten.
                </div>
                <div class="flex">
                    <a href="https://app.ensemble-coworking.de">
                    <button type="button" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-lg px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                        <svg class="me-2 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                            <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
                        </svg>
                        https://app.ensemble-coworking.de
                    </button>
                    </a>
                </div>
            </div>
        {% endif  %}

        {% if app.user %}
            <div class="self-center">
                <button>
                    <a href="{{ path('booking_step_date') }}">{{ 'actions.booking'|trans }}</a>
                </button>

                <button>
                    <a href="{{ path('user_dashboard') }}">{{ 'actions.user_dashboard'|trans }}</a>
                </button>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <button>
                        <a href="{{ path('admin') }}">Admin</a>
                    </button>
                {% endif %}
            </div>
        {% endif %}
        {% trans with ({
            '%unitaryPrice%': unitaryPrice.amount/100,
            '%voucherNameOne%': voucherPrices.0.name,
            '%voucherNameTwo%': voucherPrices.1.name,
            '%voucherPriceOne%' : voucherPrices.0.amount/100,
            '%voucherPriceTwo%' : voucherPrices.1.amount/100,
            '%registerUrl%' : path('app_register'),
        }) %}
        content
        {% endtrans %}
    </section>
{% endblock %}