{% extends 'base.html.twig' %}
{% trans_default_domain 'index' %}

{% block title %}{{ 'page.title'|trans }}{% endblock %}
{% block header %}{{ 'page.title'|trans }}{% endblock %}

{% block content %}
    <section class="self-center mx-auto">
        {% if app.user %}
            <div class="self-center">
                <button>
                    <a href="{{ path('booking_step_date') }}">{{ 'actions.booking'|trans }}</a>
                </button>

                <button>
                    <a href="{{ path('user_dashboard') }}">{{ 'actions.user_dashboard'|trans }}</a>
                </button>

            </div>
        {% endif %}
        {{ 'content'|trans|raw }}
    </section>
{% endblock %}