{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.page.title'|trans}}{% endblock %}
{% block header %}{{ 'registration.page.title'|trans}}{% endblock %}
{% block content %}
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
    {{ form_row(registrationForm.birthDate) }}

    {{ form_row(registrationForm.mobilePhone) }}

    {{ form_row(registrationForm.email) }}

    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    <p>{% trans %}registration.form.acceptance{% endtrans %}</p>

    <div>
        {{ form_widget(registrationForm.termsOfUse) }}
        <a href="{{ path('app_terms_of_use') }}" target="_blank">{{ form_label(registrationForm.termsOfUse) }}</a>
    </div>

    <div>
        {{ form_widget(registrationForm.codeOfConduct) }}
        <a href="{{ path('app_code_of_conduct') }}" target="_blank">{{ form_label(registrationForm.codeOfConduct) }}</a>
    </div>

    <div>
        {{ form_widget(registrationForm.dataProtection) }}
        <a href="{{ path('app_data_protection') }}"
           target="_blank">{{ form_label(registrationForm.dataProtection) }}</a>
    </div>

    <button type="submit" class="btn">{% trans %}registration.form.action{% endtrans %}</button>
    {{ form_end(registrationForm) }}

    <p>{% trans %}registration.page.already.account{% endtrans %}<a href="{{ path('app_login') }}">{% trans %}registration.page.login.link{% endtrans %}</a></p>
{% endblock %}
