{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.page.title'|trans }}{% endblock %}
{% block header %}{{ 'reset_password.page.title'|trans }}{% endblock %}
{% block content %}
    <section class="self-center">
        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            {{ 'reset_password.page.instructions'|trans }}
        </div>

        <button>{{ 'reset_password.page.form.button'|trans }}</button>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
