{% extends 'base.html.twig' %}

{% block title %}{{'reset_password.page.title'|trans}}{% endblock %}
{% block header %}{{'reset_password.page.title'|trans}}{% endblock %}
{% block content %}
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {% trans %}reset_password.page.instructions{% endtrans %}
            </small>
        </div>

        <button class="btn btn-primary">{% trans %}reset_password.page.button{% endtrans %}</button>
    {{ form_end(requestForm) }}
{% endblock %}
