{% extends 'base.html.twig' %}

{% block header %}{{'reset_password.page.title'|trans}}{% endblock %}
{% block header %}{{'reset_password.page.title'|trans}}{% endblock %}
{% block content %}
    <section class="self-center">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button>{{ 'reset_password.page.form.button'|trans }}</button>
    {{ form_end(resetForm) }}
    </section>
{% endblock %}
