{% extends 'base.html.twig' %}

{% block title %}{{ 'booking.confirmation.page.title'|trans }}{% endblock %}
{% block header %}{{ 'booking.confirmation.page.title'|trans }}{% endblock %}

{% block content %}
    <section class="self-center">
        <p>{{ 'booking.confirmation.page.text'|trans }}</p>
        <button>
            <a href="{{ path('invoice_download', {'uuid': invoice.uuid}) }}" target="_blank">
                {{ 'booking.confirmation.page.button'|trans }}
            </a>
        </button>
    </section>
{% endblock %}