{% block salutation %}
    <h1>{{ texts.salutation }}</h1>
{% endblock %}

{% block instruction %}
    <p>{{ texts.instructions }}</p>
{% endblock %}

{% block link %}
    {{ link }}
{% endblock %}

{% block explanation %}
    <p>
        {{ texts.explanation }}
    </p>
{% endblock %}

{% block signature %}
    <p>{{ texts.signature }}</p>
{% endblock %}