{% extends 'base.html.twig' %}

{% block title %}{{ 'user_account.title'|trans }}{% endblock %}
{% block header %}{{ 'user_account.title'|trans }}{% endblock %}

{% block content %}
    <a href="{{ path('user_edit')}}">{{ 'user_account.edit_data.link'|trans }}</a>
    <p>{% trans %}To change your passwort, please request a passwort reset via the password forgotten function.{% endtrans %}</p>
    <p>{% trans with {'%email%' : supportEmail } %}To close your account, please send an Email to %email%{% endtrans %}</p>
    <a href="{{ path('user_bookings') }}">{{ 'user_account.bookings.link'|trans}}</a>
    <a href="{{ path('user_vouchers') }}">{{ 'user_account.vouchers.link'|trans}}</a>
{% endblock %}