{% extends 'base.html.twig' %}

{% block title %}{{ 'user_account.title'|trans }}{% endblock %}
{% block header %}{{ 'user_account.title'|trans }}{% endblock %}

{% block content %}
<section class="self-center grid grid-cols-1 md:grid-cols-2">
    <div class="max-w-sm p-6 bg-gradient-to-r from-blue from-75% to-blue-darkest to-95% border border-blue-darkest text-yellow-lightest rounded-lg shadow m-2">
        <a href="{{ path('user_edit')}}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white">{{ 'user_account.edit_data.card.title'|trans }}</h5>
        </a>
        <p class="mb-3 font-normal dark:text-gray-400">{{ 'user_account.edit_data.card.text'|trans }}</p>
        <a href="{{ path('user_edit')}}" class="inline-flex items-center px-3 py-2 text-base font-medium text-center text-red-darkest bg-yellow rounded-lg hover:bg-yellow-dark focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            {{ 'user_account.edit_data.card.button'|trans }}
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>

    <div class="max-w-sm p-6 bg-gradient-to-r from-blue from-75% to-blue-darkest to-95% border border-blue-darkest text-yellow-lightest rounded-lg shadow m-2">
        <a href="{{ path('app_forgot_password_request')}}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white">{{ 'user_account.password_forgotten.card.title'|trans }}</h5>
        </a>
        <p class="mb-3 font-normal dark:text-gray-400">{{ 'user_account.password_forgotten.card.text' }}</p>
        <a href="{{ path('app_forgot_password_request')}}" class="inline-flex items-center px-3 py-2 text-base font-medium text-center text-red-darkest bg-yellow rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            {{ 'user_account.password_forgotten.card.button'|trans }}
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>

    <div class="max-w-sm p-6 bg-gradient-to-r from-blue from-75% to-blue-darkest to-95% border border-blue-darkest text-yellow-lightest rounded-lg shadow m-2">
        <a href="{{ path('user_bookings') }}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white">{{ 'user_account.bookings.card.title'|trans }}</h5>
        </a>
        <p class="mb-3 font-normal dark:text-gray-400">{{ 'user_account.bookings.card.text'|trans }}</p>
        <a href="{{ path('user_bookings') }}" class="inline-flex items-center px-3 py-2 text-base font-medium text-center text-red-darkest bg-yellow rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            {{ 'user_account.bookings.card.button'|trans }}
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>

    <div class="max-w-sm p-6 bg-gradient-to-r from-blue from-75% to-blue-darkest to-95% border border-blue-darkest text-yellow-lightest rounded-lg shadow m-2">
        <a href="{{ path('user_vouchers') }}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white">{{ 'user_account.vouchers.card.title'|trans }}</h5>
        </a>
        <p class="mb-3 font-normal dark:text-gray-400">{{ 'user_account.vouchers.card.text'|trans }}</p>
        <a href="{{ path('user_vouchers') }}" class="inline-flex items-center px-3 py-2 text-base font-medium text-center text-red-darkest bg-yellow rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            {{ 'user_account.vouchers.card.button'|trans }}
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
    <div class="max-w-sm p-6 bg-gradient-to-r from-blue from-75% to-blue-darkest to-95% border border-blue-darkest text-yellow-lightest rounded-lg shadow m-2">
        <a href="mailto:{{ supportEmail }}" target="_blank">
            <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white">{{ 'user_account.close_account.card.title'|trans }}</h5>
            <p class="font-normal dark:text-gray-400">{{ 'user_account.close_account.card.text'|trans({'%email%' : supportEmail}) }}</p>
        </a>
    </div>

</section>
{% endblock %}