{% extends 'base.html.twig' %}
{% block title %}{{ 'user_account.vouchers.title'|trans }}{% endblock %}

{% block header %}{{ 'user_account.vouchers.title'|trans }}{% endblock %}
{% block content %}
<section class="self-center">
    <div class="my-4 mx-1">
        <a href="{{ path('voucher_index') }}" class="inline-flex items-center px-3 py-2 font-medium text-xl text-center text-red-darkest bg-yellow rounded-lg hover:yellow-dark focus:ring-4 focus:outline-none focus:ring-yellow-dark">
            {{ 'user_account.vouchers.new_button'|trans }}
        </a>
    </div>

    {% if unpaidVoucherInvoice != null %}
    <div id="alert-additional-content-1" class="p-4 mb-4 text-red border border-red rounded-lg bg-yellow-light" role="alert">
        <div class="flex items-center">
            <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <h3>{{ 'user_account.vouchers.unpaid_vouchers.info.title'|trans }}</h3>
        </div>
        <div class="mt-2 mb-4 text-lg">
            {{ 'user_account.vouchers.unpaid_vouchers.info.text'|trans }}
        </div>
        <div class="flex">
            <button type="button">
                <a href="{{ path('invoice_payment_paypal', {'uuid': unpaidVoucherInvoice.uuid }) }}">{{ 'user_account.vouchers.unpaid_vouchers.info.button'|trans }}</a>
            </button>
        </div>
    </div>
    {% endif %}


    {% if user.vouchers.isEmpty %}
        {{ 'user_account.vouchers.no_vouchers'|trans }}
    {% else %}
        <div class="font-medium text-center border-b border-gray-200" id="tab-nav">
            <ul class="flex flex-wrap -mb-px">
                <li class="me-2">
                    <a href="#" class="inline-block p-4 text-red border-b-2 bg-silverpink-light border-red-dark rounded-t-lg hover:bg-yellow-light hover:border-yellow-dark active" aria-current="page">
                        <h4>{{ 'user_account.vouchers.valid_vouchers.title'|trans }}</h4>
                    </a>
                </li>
                <li class="me-2">
                    <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:bg-yellow-light hover:border-yellow-dark">
                        <h4>{{ 'user_account.vouchers.expired_used_vouchers.title'|trans }}</h4>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="self-center grid grid-cols-2 md:grid-cols-4" id="valid_vouchers">
        {% for voucher in validVouchers %}
            {% include 'voucher/partials/voucher_card.html.twig' with {'voucher': voucher} %}
        {% endfor %}
    </div>

    <div class="self-center grid grid-cols-2 md:grid-cols-4 hidden" id="expired_used_vouchers">
        {% for voucher in expiredOrUsedVouchers %}
            {% include 'voucher/partials/voucher_card.html.twig' with {'voucher': voucher} %}
        {% endfor %}
    </div>
</section>
    <script>
        const validVouchers = document.getElementById('valid_vouchers');
        const expiredUsedVouchers = document.getElementById('expired_used_vouchers');

        const validVouchersTab = document.querySelector('#tab-nav ul li:nth-child(1) a');
        const expiredUsedVouchersTab = document.querySelector('#tab-nav ul li:nth-child(2) a');

        validVouchersTab.addEventListener('click', () => {
            validVouchers.classList.remove('hidden');
            expiredUsedVouchers.classList.add('hidden');
            // renderTabActive(validVouchers);
            // renderTabInactive(expiredUsedVouchers);
        });

        expiredUsedVouchersTab.addEventListener('click', () => {
            validVouchers.classList.add('hidden');
            expiredUsedVouchers.classList.remove('hidden');
            // renderTabActive(expiredUsedVouchersTab);
            // renderTabInactive(validVouchers);
        });

        function renderTabActive(tab) {
            tab.classList.add('active');
            tab.classList.remove('hover:bg-yellow-light');
            tab.classList.remove('hover:border-yellow-dark');
            tab.classList.add('text-red');
            tab.classList.add('border-red-dark');
            tab.classList.remove('border-transparent');
        }

        function renderTabInactive(tab){
            tab.classList.remove('active');
            tab.classList.add('hover:bg-yellow-light');
            tab.classList.add('hover:border-yellow-dark');
            tab.classList.remove('text-red');
            tab.classList.remove('border-red-dark');
            tab.classList.add('border-transparent');
        }

    </script>
{% endblock %}